@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


body {
  background-color: #EEF9BF;
}
.top {
  padding-top: 40px;
}
.top h1 {
font-family: 'Roboto', sans-serif;
text-align: center;
font-size: 56px;
font-weight:bold;
color: #75B79E;
}

.content{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.game{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75%;
  transition: all 400ms ease;
  transform: preserve-3d;
}

.card {
  width: 117px;
  height: 146px;
  background-color: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
  transform: preserve-3d;
  margin: 0 51px 51px 0;
}
.face {
  width: 100%;
}

.front{
  display:block;
}

.back{
  display:none;
}


img {
  width: 100%;
}

.flip {
  transform: rotateY(180deg);
}

/* LOGICA ROTACAO */

.card.flip .front {
  display: none;
  
}

.card.flip .back{
  display: block;

} 